.nav a{
  color: white;
}

a:hover{
  color: rgb(190, 210, 210);
}

.nav{
  border-radius: 15px;
  border: 2px rgb(52, 58, 64) solid;
  box-shadow: 2px 2px 50px rgb(42, 48, 54);
}

.bg-blue{
  background-color: rgb(0, 105, 205);
}